option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGODB_URI: "mongodb+srv://production:UCFKnight25%2D@db.iyfhwxl.mongodb.net/vibestream_DB"
    SPOTIFY_CLIENT_ID: "bb853e3223784b0ba51f363c9d09ea1e"
    SPOTIFY_CLIENT_SECRET: "98bad6aea400422da697eb37d0c8ee51"
    SPOTIFY_CALLBACK_URL: "http://vibestream-prod.us-east-1.elasticbeanstalk.com/api/auth/spotify/callback"
    GOOGLE_CLIENT_ID: "1081421836812-f9780pniht0cn9950p2vaeblaq0uis6g.apps.googleusercontent.com"
    GOOGLE_CLIENT_SECRET: "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"
    GOOGLE_CALLBACK_URL: "http://vibestream-prod.us-east-1.elasticbeanstalk.com/api/auth/google/callback"
    SENDGRID_API_KEY: "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"
    SENDGRID_CALLBACK: "http://vibestream-prod.us-east-1.elasticbeanstalk.com/api/auth/verify"
    CLIENT_URL: "http://vibestream-prod.us-east-1.elasticbeanstalk.com"
    SESSION_SECRET: "0ac32be3e0a7728054ac8be2434e2376502d2b1ff117137a8e2b5b574b914c70"
    REACT_APP_CLIENT_URL: "http://vibestream-prod.us-east-1.elasticbeanstalk.com"
    SPOTIFY_BASE_URL: "https://api.spotify.com/v1"