/* Full-screen gradient background */
.pageBackground {
	background: linear-gradient(
		135deg,
		#7f5bdf,
		#4a5568
	); /* Purple and dark gray gradient */
	overflow: hidden; /* Ensure nothing overflows */
}

/* Gradient overlay for extra effect */
.gradientOverlay {
	background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
	z-index: -1;
}

/* Enhanced Heading Style */
.heading {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	animation: fade-in 1s ease-in-out;
}

/* Subheading styling for added visual hierarchy */
.subheading {
	font-family: 'Roboto', sans-serif;
	color: #d1d5db; /* Light gray color */
	animation: fade-in 1.5s ease-in-out;
}

/* Adding dynamic movement to the background */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.logo {
	animation: float 6s ease-in-out infinite;
}

/* Fade-in animation */
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
